.jumbotron{
    background-color: lightgray !important;
}

#explanation-column{
    background-color: green;
}

/* Text turns green when added to list (default) */
.text-green {
    color: green;
}

.text-red{
    color: red;
}

.text-line-through{
    text-decoration: line-through;
}

#explanation-column, .chore-list,
#assign-chore-row,#reassign-chore-row,
#account-column, #received-point-div, #change-point-div{
    padding-top: 5px;
    border: 1px solid black;
    background-color: lightgray;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
}

#main-column{
    margin-bottom: 1rem;
}

#assign-chore-row{
    margin-bottom: 1rem;
}

#account-column{
    margin-left: 1rem;
    margin-right: 1rem;
}

#assign-chore-button{
    margin-top: 1rem;
}

hr{
    background-color: black;
}

h1{
    text-align: center;
}

.fa-award{
    font-size: 350%;
    color: rgb(214, 136, 10);
    float: right;
}

.fa-clipboard-list{
    font-size: 150%;
    color: red;
    float: right;
}

#child-submit-button{
    margin-top: 1rem;
}

#child-reassign-button{
    margin-top: 1rem;
}

.image {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

#homeheading {
    text-align: center;
    font-family: fantasy;
}

.btncenter {
    text-align: center;
}
.btnright {
    text-align: right;
}
.fa-home {
    color: green;
}

#ice {
    font-size: 2em;
}
#d3 {
    color: blue;
    font-size: 1em;
    text-align: center;
   
}
#green {
    font-size: 2em;
}

.cleaning {
   width: 450px;
    height: 450px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#background {
    background-image: url("https://www.bubblescarpetcleaning.com.au/images/page-bg.jpg");
    background-size:cover;
}
#background2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Looseleaf_Legal_Pad_Background.svg")
}

label {
    font-weight: 800;
    font-size: 1.5em;
}

#background3 {
    background-image: url("https://previews.123rf.com/images/bobrovee/bobrovee1705/bobrovee170500013/79219345-blue-soap-bubbles-and-white-foam-seamless-pattern.jpg");
    background-size:cover;
   
}

#background5 {
    background-image: url("https://previews.123rf.com/images/hmelevskaya/hmelevskaya1706/hmelevskaya170600074/80844019-shampoo-foam-in-raining-with-realistic-water-bubbles-on-trendy-gradient-background-cleaning-liquid-s.jpg");
    background-size:cover;
   
}

#text-background{
    background-color: rgba(135, 206, 250, .7);
    padding: 1rem;
}

.yellow {
    color: black;
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
}

.parentlogo {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
   
  }

#username-input, #password-input{
    width: 35%;
    margin: auto;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(151,84,179,1) 9%, rgba(0,212,255,1) 100%);
}